<li class='chat-item'>
  <img src='{{chatAvatar}}' alt='Avatar' class='chat-item__img' />
  <div class='chat-item__content'>
    <h2 class='chat-item__name'>{{name}}</h2>
    <p class='chat-item__text'>{{text}}</p>
  </div>
  <div class='chat-item__details'>
    <p class='chat-item__time'><time datetime='{{datetime}}'>{{time}}</time></p>
    <span class='chat-item__unread'>{{unread}}</span>
  </div>
</li>