<div class='modal is-shown-{{isShown}}'>
  <div class='modal__wrap'>
    <h2 class='modal__title'>{{title}}</h2>
    <form class='modal__form {{class}}'>
      {{{input}}}
      {{{buttonSubmit}}}
      {{{linkCancel}}}
    </form>
  </div>
  <div
    class='modal__notification is-shown-{{isNotififcationShown}} is-{{result}}'
  >
    {{modalNotification}}
  </div>
</div>