<div class='chat-info'>
  <div class='chat-info__name'>
    {{#if currentChat.avatar}}
      <img src='' alt='' class='chat-info__avatar' />
    {{else}}
      <div class='chat-info__avatar is-empty'></div>
    {{/if}}
    <h3 class='chat-info__title'>{{title}}</h3>
  </div>
  <div class='chat-info__menu chat-menu is-{{menuIsOpen}}'>
    {{{openMenuBtn}}}
    <div class='chat-menu__wrap'>
      {{{addUserBtn}}}
      {{{deleteUserBtn}}}
    </div>
  </div>
  {{{addUserModal}}}
  {{{deleteUserModal}}}
</div>