<div class='profile-input'>
  <label for='{{id}}' class='profile-input__label {{labelClass}}'>
    {{label}}
  </label>
  <input
    class='form-input profile-input__input'
    id='{{id}}'
    type='{{type}}'
    name='{{name}}'
    placeholder='{{placeholder}}'
    value='{{value}}'
    required='{{required}}'
    disabled
  />
  <p class='form-input__error'>{{error}}</span>
</div>