<div class='profile-form is-{{editMode}}'>
  {{{avatar}}}

  {{#if currentUser.display_name}}
    <p class='profile-form__name'>{{currentUser.display_name}}</p>
  {{else}}
    <p class='profile-form__name'>{{currentUser.first_name}}</p>
  {{/if}}

  <form class='profile-form__wrap'>
    {{#if changeDataFields}}
      <div class='profile-form__inputs is-profile-inputs'>
        {{#each fields}}
          {{{this}}}
        {{/each}}
      </div>
    {{else}}
      <div class='profile-form__inputs is-password-inputs'>
        {{#each changePassFields}}
          {{{this}}}
        {{/each}}
      </div>
    {{/if}}

    <div class='profile-form__buttons'>
      {{{buttonChangeData}}}
      {{{buttonSaveData}}}
      {{{buttonChangePass}}}
      {{{logoutLink}}}
      {{{cancelLink}}}
    </div>
  </form>
</form>