<div class='input-wrap'>
  <input
    class='form-input'
    type='{{type}}'
    name='{{name}}'
    placeholder='{{placeholder}}'
    required='{{required}}'
  />
  <p class='form-input__error'>{{error}}</span>
</div>